.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-span {
  margin-left: 1%;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
  }
  span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9d9d9d;
  }
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 45px;
    position: relative;
    &-right{
        display: flex;
        align-items: center;
        // width: 12%;
        justify-content: space-between;
        img{
            cursor: pointer;
        }
        span{
          margin: 0 15px;
        }
        &-cart{
          // width: 100%;
          // border: 1px solid black;
          height: 100%;
          position: relative;
          span{
            position: absolute;
            top: -70%;
            left: 1%;
          }
        }
        &-favorite{
          // width: 100%;
          // border: 1px solid black;
          height: 100%;
          position: relative;
          span{
            position: absolute;
            top: -70%;
            left: 1%;
          }
        }
    }
}
